<!DOCTYPE html>
<html>
     <link rel="stylesheet" href="static/form.css">

     <body>

          <h3>
               <a class="button" href="{{ url_for('show_all') }}"> Return to Home</a>
          </h3>
          <hr />

          {%- for category, message in get_flashed_messages(with_categories = true) %}
          <div class="alert alert-danger">
               {{ message }}
          </div>
          {%- endfor %}

          <form action="/update/{{stud.id}}" method="post">
               <label for="name">Name</label><br>
               <input type="text" name="name" placeholder="Name" value={{stud.name}} /><br>
               <label for="email">Contact</label><br>
               <input type="text" name="contacts" placeholder="Contact" value={{stud.contacts}} /><br>
               <label for="address">Address</label><br>
               <input type='text' name="address" placeholder="Address" value={{stud.address}}></input><br>
               <label for="PIN">Code</label><br>
               <input type="text" name="code" placeholder="Code" value={{stud.code}} /><br>
               <input type="submit" value="Submit" />
          </form>

     </body>

</html>